@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: rgb(94, 94, 211);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container {
    width: 100%;
    display: flex;
    padding: 0 20;
    color: #fff;
    flex: 1;

}

.slide {
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}